@import '../../scss/colors.scss';

.a {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $textColor;
  &:hover {
    color: $mainPurple;
  }
}

.a2 {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
}
