/*Lexend*/
@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Lexend/static/Lexend-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/Lexend/static/Lexend-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/Lexend/static/Lexend-SemiBold.ttf") format("truetype");
}
